<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
    <style>
       * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

       .navbar-custom {
        background-color: #3366ff;
      }

  
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar-custom navbar-expand-sm">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: white;">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: white;">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4" style="color: white;">Table</a>
        </li>
      </ul>
    </nav>

    <h1 style="text-align: center; color: black; margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> Message List</h1>
  </br>
  <div class="container">
    <div class="card-columns">
    {% if notes %}
    {% for note in notes %}
    <div class="card" style="width: 20rem; border-radius: 15px 15px 15px 15px; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);">
      <div class="card-header" style="background-color: #3366ff; border-radius: 15px 15px 15px 15px;">
        <p style="color: white;">Message Card</p>
      </div>
      <div class="card-body">
        To: {{note.to}}
      </br>
        From: {{note.From}}
      </br>
        Title: {{note.title}}
      </br>
        Message: {{note.message}}
      </div>
    </div>
  </br>
    {% endfor %}
    {% endif %}
  </div>
  </div>
  </body>
</html>
