<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message List</title>
    <style>
      * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

      .messages {
        border-collapse: collapse;
        font-size: 0.9em;
        width: 80%;
        overflow: hidden;
        margin: auto;
        margin-bottom: 100px;
        border-radius: 15px 15px 0 0;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        table-layout:fixed;
      }

      #head-row {
        background-color: #3366ff;
        color: white;
        text-align: center;
        font-weight: bold;
      }

      .messages td {
        padding: 12px 15px;
        color: black;
        text-align: center;
        word-wrap: break-word;
      }

      .messages th {
        padding: 12px 15px;
        color: white;
        font-size: medium;
      }

      .messages tr {
        border-bottom: 1px solid #3366ff;
      }

      .messages tr:last-of-type {
        border-bottom: 3px solid #3366ff;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      .navbar-custom {
        background-color: #3366ff;
      }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body style="background-color: white;">
    <nav class="navbar-custom navbar-expand-sm">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: white;">Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: white;">Cards</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:8000/lab-4" style="color: white;">Table</a>
        </li>
      </ul>
    </nav>

  </br>
    <h1 style="text-align: center; color: black; margin: 0; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> Message List</h1>
    <table class="messages">
    </br>
      <tr id="head-row">
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      {% if notes %}
      {% for note in notes %}
      <tr>
            <td>{{note.to}}</td>
            <td>{{note.From}}</td>
            <td>{{note.title}}</td>
            <td>{{note.message}}</td>
          {% endfor %}
          {% endif %}
        </tr>
    </table>
  </body>
</html>
