<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
        * {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      }

       .navbar-custom {
        background-color: #3366ff;
      }
      
    </style>
      <title>Message Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
    <body>
      <nav class="navbar-custom navbar-expand-sm">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/lab-4/add-note" style="color: white;">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/lab-4/note-list" style="color: white;">Cards</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:8000/lab-4" style="color: white;">Table</a>
          </li>
        </ul>
      </nav>


    <h1 style="text-align: center;">Form Pesan</h1>
    <div class="form-group">
      <form action="" method="POST" style="text-align: center;">
        {% csrf_token %}
        <div class="From">
          <p>From:</p>
          <div>{{form.From}}</div>
        </div>
        <div class="to">
          <p>To: </p>
          <div>{{form.to}}</div>
        </div>
        <div class="title">
          <p>Title:</p>
          <div>{{form.title}}</div>
        </div>
        <div class="message">
          <p>Message:</p>
          <div>{{form.message}}</div>
        </div>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>