<!DOCTYPE html>
<html lang="en">

    <form action="" method="POST">
        {% csrf_token %}
        Nama: {{form.name}}
    </br>
        NPM: {{form.npm}}
    </br>
        Date of Birth: {{form.dob}}
        <input type="submit" value="Submit">
    </form>
</html>